// =============================================================================
// HEADER (CSS)
//
// Custom header for theme emthemes-modez. Inherits css from the base theme.
//
// -----------------------------------------------------------------------------


// papathemes-beautyfeatures deleted .header

.header-logo-text {
    letter-spacing: letterSpacing("base");
    font-weight: fontWeight("normal");
    margin: 0;
}

// .is-sticky {
//     @include breakpoint("medium") {
//         .header-logo-image-container:after {
//             padding-bottom: calc(#{unquote(get-height(stencilString('logo_size')))} / 2);
//         }
//         .header-logo-image {
//             max-height: 100%;
//         }
//     }
// }


// papathemes-beautyfeatures deleted .mobileMenu-toggle
