// =============================================================================
// NAV PAGES (Settings)
// =============================================================================


$navPages-backgroundColor:                  stencilColor("navPages-backgroundColor"); // papathemes-beautyfeatures
$navPage-borderColor:                       stencilColor("navPages-subMenu-separatorColor");
$navPage-childList-borderColor:             $navPage-borderColor;
$navPages-list--user-borderColor:           $navPage-borderColor;
