.body {
    margin-bottom: spacing("double");
    margin-top: 0;
}

.page {
    display: flex;
    flex-direction: column;

    margin-left: -(container("padding") / 2);
    margin-right: -(container("padding") / 2);

    @include breakpoint("medium") {
        margin-left: -$column-gutter / 2;
        margin-right: -$column-gutter / 2;
        display: block;
    }
}

.main {
    // padding: 0 $container-padding / 2 - container("padding") / 2; // papathemes-beautyfeatures commented

    @include breakpoint("medium") {
        padding: 0;
    }
}

.page-content {
    order: 2;
}

.page-content--centered {
    @include breakpoint("medium") {
        width: 60%;
    }
}

.page-content--sticky {
    @include breakpoint("medium") {
        position: sticky;
        top: 0;
    }
}

.page-sidebar {
    order: 3;
    margin-top: spacing("single");
    

    @include breakpoint("medium") {
        width: grid-calc(2, 10);
        color: $color-textSecondary;
        

        @if $theme-style == "compact" {
            margin-top: spacing("half");
        }
        @else {
            margin-top: spacing("single");

            // when layout is fixed left sidebar
            .papaSupermarket-layout--left-sidebar & {
                // papathemes-beautyfeatures
                margin-top: 0;
            }

            // Category page & Show Subcategories Menu is enabled.
            .papaSupermarket-pageType--category.papaSupermarket--showSubcategoriesMenu & {
                margin-top: spacing("single");
                z-index: zIndex("lower"); // lower header
            }

            // no pages navigation
            .papaSupermarket-layout--left-sidebar.papaSupermarket--hideContentNav & {
                margin-top: 0;
            }

            // when banner below header show
            .emthemesModezBannersBlockAfterHeader + .body & {
                margin-top: 0;
            }
        }

        
        + .page-content {
            width: grid-calc(8, 10);
            float: right;
        }

        + .page-sidebar + .page-content {
            width: grid-calc(6, 10);
        }
    }

    // fix margin issue of child elements
    > nav {
        border-top: 0.5px solid transparent;
    }
}

.page-sidebar--top {
    order: 1;
    margin-top: 0;

    @include breakpoint("medium") {
        @if $theme-style == "compact" {
            margin-top: spacing("half");
        }
    }
}

.page-sidebar--bottom {
    clear: left;

    @include breakpoint("medium") {
        &,
        .papaSupermarket-layout--left-sidebar & {
            margin-top: spacing("single");
        }
    }
}

.page-sidebar--right {
    float: right;
    
    .papaSupermarket-layout--left-sidebar & {
        margin-top: if($theme-style == "compact", spacing("half"), spacing("single"));

        @include breakpoint("medium") {
            z-index: zIndex("low") - 1; // same header's z-index - 1
        }
    }
}

.page-sidebar--sticky {
    @include breakpoint("medium") {
        position: sticky;
        top: 0;
    }
}
