
<div class="_banner">
    {{{region name="header_above_quicksearch--global"}}}
    {{#if in_development}}
        <p><a href="/delivery/">Next Day Delivery</a> • <a href="/guaranteed-irish/">Irish Owned Business</a> • <a href="/delivery/">Free shipping over 80 Euro</a></p>
    {{/if}}
</div>

<div class="_brandLogo">
    <img src="{{cdn 'img/beautyfeatures/irish-logo-no-tagline.svg'}}"  class="{{#unless lazyload '==' 'disabled'}}lazyload{{/unless}}{{#if class}} {{class}}{{/if}}" alt="Irish" title="Irish" />
</div>

