<div class="ih__productView-3icons">
    <a href="#tab-return" data-gototab>
        <svg class="icon"><use xlink:href="#icon-bf-secure"></use></svg>
        <span>Safe &amp; Secure<br>Shopping</span>
    </a>
    <a href="#tab-return" data-gototab>
        <svg class="icon"><use xlink:href="#icon-bf-delivery"></use></svg>
        <span>1-2 Days<br>Fast Delivery</span>
    </a>
    <a href="#tab-return" data-gototab>
        <svg class="icon"><use xlink:href="#icon-bf-return"></use></svg>
        <span>Hassle Free<br>Returns</span>
    </a>
</div>
