<h2 class="page-heading">Real Feed Customers</h2>
<ul class="_list" data-slick='{
    "arrows": false,
    "dots": true,
    "mobileFirst": true,
    "slidesToShow": 1,
    "slidesToScroll": 1,
    "responsive": [{
        "breakpoint": 801,
        "settings": {
            "slidesToShow": 3,
            "slidesToScroll": 3
        }
    }]
}'>
    <li class="_item">
        <span class="_avatar">B</span>
        <p class="_author">Brid C. <span class="_verified">Verified Reviewer</span></p>
        <p class="_rating">
            <span class="rating--small">
                <span class="icon icon--ratingFull"><svg><use xlink:href="#icon-star" /></svg></span>
                <span class="icon icon--ratingFull"><svg><use xlink:href="#icon-star" /></svg></span>
                <span class="icon icon--ratingFull"><svg><use xlink:href="#icon-star" /></svg></span>
                <span class="icon icon--ratingFull"><svg><use xlink:href="#icon-star" /></svg></span>
                <span class="icon icon--ratingFull"><svg><use xlink:href="#icon-star" /></svg></span>
            </span>
        </p>
        <p class="_title">Amazing Site for Alfaparf</p>
        <p class="_content">Thanks so much guys. Put in my order yesterday and it is with me this morning. Also got product cheaper than buying through my hairdresser! Very happy.</p>
    </li>
    <li class="_item">
        <span class="_avatar">L</span>
        <p class="_author">Lorraine M. C. <span class="_verified">Verified Reviewer</span></p>
        <p class="_rating">
            <span class="rating--small">
                <span class="icon icon--ratingFull"><svg><use xlink:href="#icon-star" /></svg></span>
                <span class="icon icon--ratingFull"><svg><use xlink:href="#icon-star" /></svg></span>
                <span class="icon icon--ratingFull"><svg><use xlink:href="#icon-star" /></svg></span>
                <span class="icon icon--ratingFull"><svg><use xlink:href="#icon-star" /></svg></span>
                <span class="icon icon--ratingFull"><svg><use xlink:href="#icon-star" /></svg></span>
            </span>
        </p>
        <p class="_title">Great Irish beauty website</p>
        <p class="_content">Delighted to have found a bueaty site that is Irish and stocking all those great brands. Thanks guys.</p>
    <li class="_item">
        <span class="_avatar">L</span>
        <p class="_author">Lisa C. <span class="_verified">Verified Reviewer</span></p>
        <p class="_rating">
            <span class="rating--small">
                <span class="icon icon--ratingFull"><svg><use xlink:href="#icon-star" /></svg></span>
                <span class="icon icon--ratingFull"><svg><use xlink:href="#icon-star" /></svg></span>
                <span class="icon icon--ratingFull"><svg><use xlink:href="#icon-star" /></svg></span>
                <span class="icon icon--ratingFull"><svg><use xlink:href="#icon-star" /></svg></span>
                <span class="icon icon--ratingFull"><svg><use xlink:href="#icon-star" /></svg></span>
            </span>
        </p>
        <p class="_title">Amazing Site for Alfaparf</p>
        <p class="_content">I am happy with the service and the products I received are really good. I appreciate the samples too.</p>
    </li>
</ul>
<p class="_action"><a class="button button--primary u-hideMobile u-hideTablet" id="yotpo_testimonials_btn_copy" href="#">View All Reviews</a></p>
