<h2 class="page-heading">Hand picked from our top brands</h2>
<div class="_list" data-home-brands-slick='{
    "arrows": false,
    "dots": true,
    "infinite": true,
    "rows": 2,
    "slidesPerRow": 7,
    "responsive": [{
        "breakpoint": 550,
        "settings": {
            "arrows": true,
            "dots": false,
            "rows": 1,
            "slidesToShow": 3,
            "slidesToScroll": 3,
            "slidesPerRow": null
        }
    }]
}'>
    <div class="_item">
        <a href="/brands/Moroccanoil.html">
            <img class="lazyload" data-sizes="125px" width="125" height="125" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="  data-src="https://cdn11.bigcommerce.com/s-63354/product_images/uploaded_images/moroccanoil-brand-logo-125.jpg?t=1597155486" alt="">
            <span class="_name">Moroccanoil</span>
        </a>
    </div>
    <div class="_item">
        <a href="/brands/Actyva.html">
            <img class="lazyload" data-sizes="125px" width="125" height="125" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="  data-src="{{cdn 'img/beautyfeatures/brand-actyva.jpg'}}" alt="">
            <span class="_name">Actyva</span>
        </a>
    </div>
    <div class="_item">
        <a href="/advanced-nutrition/">
            <img class="lazyload" data-sizes="125px" width="125" height="125" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="  data-src="{{cdn 'img/beautyfeatures/brand-advancednutrition.jpg'}}" alt="">
            <span class="_name">Advanced Nutrition</span>
        </a>
    </div>
    <div class="_item">
        <a href="/brands/Alfaparf.html">
            <img class="lazyload" data-sizes="125px" width="125" height="125" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="  data-src="{{cdn 'img/beautyfeatures/brand-alfaparf.jpg'}}" alt="">
            <span class="_name">Alfaparf Milano</span>
        </a>
    </div>
    <div class="_item">
        <a href="/brands/Kerastase.html">
            <img class="lazyload" data-sizes="125px" width="125" height="125" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="  data-src="https://cdn11.bigcommerce.com/s-63354/product_images/uploaded_images/kerastase-125.jpg" alt="">
            <span class="_name">Kerastase</span>
        </a>
    </div>
    <div class="_item">
        <a href="/brands/Dermalogica.html">
            <img class="lazyload" data-sizes="125px" width="125" height="125" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="  data-src="https://cdn11.bigcommerce.com/s-63354/product_images/uploaded_images/dermalogica-125.jpg" alt="">
            <span class="_name">Dermalogica</span>
        </a>
    </div>
    <div class="_item">
        <a href="/brands/Redken.html">
            <img class="lazyload" data-sizes="125px" width="125" height="125" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="  data-src="https://cdn11.bigcommerce.com/s-63354/product_images/uploaded_images/redken-125.jpg" alt="">
            <span class="_name">Redken</span>
        </a>
    </div>
    <div class="_item">
        <a href="/brands/Nioxin.html">
            <img class="lazyload" data-sizes="125px" width="125" height="125" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="  data-src="https://cdn11.bigcommerce.com/s-63354/product_images/uploaded_images/nioxin-125.jpg" alt="">
            <span class="_name">Nioxin</span>
        </a>
    </div>
    <div class="_item">
        <a href="brands/The-Ordinary.html">
            <img class="lazyload" data-sizes="125px" width="125" height="125" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="  data-src="https://cdn11.bigcommerce.com/s-63354/product_images/uploaded_images/the-ordinary-125.jpg" alt="">
            <span class="_name">The Ordinary</span>
        </a>
    </div>
    <div class="_item">
        <a href="/brands/Decleor.html">
            <img class="lazyload" data-sizes="125px" width="125" height="125" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="  data-src="{{cdn 'img/beautyfeatures/brand-decleor.jpg'}}" alt="">
            <span class="_name">Decleor</span>
        </a>
    </div>
    <div class="_item">
        <a href="/brands/FitFlop.html">
            <img class="lazyload" data-sizes="125px" width="125" height="125" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="  data-src="{{cdn 'img/beautyfeatures/brand-fitflop.jpg'}}" alt="">
            <span class="_name">Fitflop</span>
        </a>
    </div>
    <div class="_item">
        <a href="/brands/Joico-.html">
            <img class="lazyload" data-sizes="125px" width="125" height="125" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="  data-src="{{cdn 'img/beautyfeatures/brand-joico.jpg'}}" alt="">
            <span class="_name">Joico</span>
        </a>
    </div>
    <div class="_item">
        <a href="/the-inkey-list/">
            <img class="lazyload" data-sizes="125px" width="125" height="125" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="  data-src="https://cdn11.bigcommerce.com/s-63354/product_images/uploaded_images/the-inkey-list-125.jpg" alt="">
            <span class="_name">The Inkey List</span>
        </a>
    </div>
    <div class="_item">
        <a href="/brands/OLAPLEX.html">
            <img class="lazyload" data-sizes="125px" width="125" height="125" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="  data-src="{{cdn 'img/beautyfeatures/brand-olaplex.jpg'}}" alt="">
            <span class="_name">Olaplex</span>
        </a>
    </div>
    
    <div class="_item">
        <a href="/eleven-australia/">
            <img class="lazyload" data-sizes="125px" width="125" height="125" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="  data-src="https://cdn11.bigcommerce.com/s-63354/product_images/uploaded_images/eleven-125.jpg" alt="">
            <span class="_name">Eleven Australia</span>
        </a>
    </div>
    <div class="_item">
        <a href="/brands/Pureology.html">
            <img class="lazyload" data-sizes="125px" width="125" height="125" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="  data-src="https://cdn11.bigcommerce.com/s-63354/product_images/uploaded_images/pureology-125.jpg" alt="">
            <span class="_name">Pureology</span>
        </a>
    </div>
    <div class="_item">
        <a href="/bioderma/">
            <img class="lazyload" data-sizes="125px" width="125" height="125" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="  data-src="https://cdn11.bigcommerce.com/s-63354/product_images/uploaded_images/bioderma-125.jpg" alt="">
            <span class="_name">Bioderma</span>
        </a>
    </div>
    <div class="_item">
        <a href="/brands/Thalgo.html">
            <img class="lazyload" data-sizes="125px" width="125" height="125" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="  data-src="https://cdn11.bigcommerce.com/s-63354/product_images/uploaded_images/thalgo-125.jpg" alt="">
            <span class="_name">Thalgo</span>
        </a>
    </div>
    <div class="_item">
        <a href="/brands/REN-Skincare.html">
            <img class="lazyload" data-sizes="125px" width="125" height="125" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="  data-src="https://cdn11.bigcommerce.com/s-63354/product_images/uploaded_images/ren-125.jpg" alt="">
            <span class="_name">Ren</span>
        </a>
    </div>
    <div class="_item">
        <a href="/matrix/">
            <img class="lazyload" data-sizes="125px" width="125" height="125" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="  data-src="https://cdn11.bigcommerce.com/s-63354/product_images/uploaded_images/matrix-125.jpg" alt="">
            <span class="_name">Matrix</span>
        </a>
    </div>
    <div class="_item">
        <a href="/beauty-blender/">
            <img class="lazyload" data-sizes="125px" width="125" height="125" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="  data-src="https://cdn11.bigcommerce.com/s-63354/product_images/uploaded_images/beauty-blender-125.jpg" alt="">
            <span class="_name">Beauty Blender</span>
        </a>
    </div>
    <div class="_item">
        <a href="/brands/Pestle-%26-Mortar.html">
            <img class="lazyload" data-sizes="125px" width="125" height="125" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="  data-src="https://cdn11.bigcommerce.com/s-63354/product_images/uploaded_images/pestle-125.jpg" alt="">
            <span class="_name">Pestle & Mortar</span>
        </a>
    </div>
    <div class="_item">
        <a href="/brands/COLOR-WOW.html">
            <img class="lazyload" data-sizes="125px" width="125" height="125" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="  data-src="https://cdn11.bigcommerce.com/s-63354/product_images/uploaded_images/colorwow-125.jpg" alt="">
            <span class="_name">Color Wow</span>
        </a>
    </div>
    <div class="_item">
        <a href="/nak/">
            <img class="lazyload" data-sizes="125px" width="125" height="125" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="  data-src="https://cdn11.bigcommerce.com/s-63354/product_images/uploaded_images/nak-125.jpg" alt="">
            <span class="_name">Nak</span>
        </a>
    </div>
    <div class="_item">
        <a href="/blank-canvas/">
            <img class="lazyload" data-sizes="125px" width="125" height="125" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="  data-src="https://cdn11.bigcommerce.com/s-63354/product_images/uploaded_images/blank-canvas-125.jpg" alt="">
            <span class="_name">Blank Canvas</span>
        </a>
    </div>
    <div class="_item">
        <a href="/brands/Clarins.html">
            <img class="lazyload" data-sizes="125px" width="125" height="125" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="  data-src="https://cdn11.bigcommerce.com/s-63354/product_images/uploaded_images/clarins-125.jpg" alt="">
            <span class="_name">Clarins</span>
        </a>
    </div>
    <div class="_item">
        <a href="/brands/Seoulista.html">
            <img class="lazyload" data-sizes="125px" width="125" height="125" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="  data-src="https://cdn11.bigcommerce.com/s-63354/product_images/uploaded_images/seoulista-125.jpg" alt="">
            <span class="_name">Seoulista</span>
        </a>
    </div>
    <div class="_item">
        <a href="/biolage/">
            <img class="lazyload" data-sizes="125px" width="125" height="125" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="  data-src="https://cdn11.bigcommerce.com/s-63354/product_images/uploaded_images/biolage-125.jpg" alt="">
            <span class="_name">Biolage</span>
        </a>
    </div>
</div>
