
// Make Add to Cart & Compare button appear on Mobile for any product items
// ----------------------------------------------------------------------------

@media (max-width: screenSize("medium") - 1px) {
	.card-figcaption {
		display: block;
		opacity: 1;
		height: auto;
        position: static;
    }
    
    .card-img-container {
        position: relative;
    }

	.productCarousel .card-buttons, 
	.productGrid .card-buttons {
		display: flex;
		position: static;
		opacity: 1;
		clip: auto;
        transform: none;
        padding: spacing("quarter") 0 0;
    }

    .productCarousel .card-buttons .card-figcaption-button:not(.card-figcaption-button--compare):before, 
    .productGrid .card-buttons .card-figcaption-button:not(.card-figcaption-button--compare):before {
        display: none;
    }
    
    .productCarousel .card-buttons--alt, 
	.productGrid .card-buttons--alt {
        display: none;
    }

    .mode-1 {
        .card-figcaption {
            display: none;
        }

        .card-figcaption-button.quickview {
            display: none;
        }
    }

    .productList .listItem-buttons,
    .sidebarBlock .productList .listItem-buttons {
        display: flex;

        .button.quickview {
            display: none;
        }
    }
}
