// =============================================================================
// PRICE (CSS)
// =============================================================================

.price-section {
	// color: $color-textSecondary;

	> * {
		vertical-align: middle; // papathemes-beautyfeatures edited
	}

	[itemprop="priceSpecification"] {
		display: inline;
	}
}

.price-section--saving {
	.price {
		color: $color-primary;
	}
}

.price {
	color: stencilColor("color-price");
}

.price--rrp,
.price--non-sale,
.price--discounted {
	color: $color-textSecondary;
	// font-weight: fontWeight("thin");
}
