.cart-item-brand {
    color: inherit;
    font-weight: fontWeight("bold");
    font-size: fontSize("small");
}

.cart-item-name {
    font-size: fontSize("small");
    font-weight: fontWeight("normal");
    a {
        color: inherit;
        &:hover,
        &:focus {
            color: $color-textLink;
        }
    }
}
.cart-item-total {
    font-size: fontSize("larger");

}
.cart-remove {
    display: inline-block;
    text-decoration: none;
    font-size: fontSize("smallest");
    text-align: center;
    margin: 0;
    .fa {
        display: block;
        font-size: 20px;
    }
}
.bf__cart {
    margin-bottom: spacing("half");
    > ._right {
        background-color: container("fill", "dark");
    }
    .ih__productView-3icons {
        border-top: container("border");
        padding-top: spacing("quarter");
    }
}
.cart-totals {
    font-size: fontSize("larger");
}
.cart-total {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: spacing("base") 0;
    border-bottom: container("border");
    &:before,
    &:after {
        display: none;
    }
    + .cart-total {
        border-top: 0;
    }
}
.cart-total--couponCode {
    display: none;
}
.cart-total-label {
    width: auto;
    padding: 0 spacing("half") 0 0;
    text-align: left;

    &._shipping-estimate,
    &._coupon-code-input,
    &._gift-certificate-input {
        font-size: fontSize("large");
    }
    
}
.cart-total-value {
    width: auto;
    padding: 0 0 0 spacing("half");
    text-align: right;
    font-weight: inherit;
}
.cart-total-grandTotal {
    font-weight: fontWeight("bold");
}
.cart-form,
.estimator-form {
    width: 100%;
    margin: spacing("half") 0 0;
}
.estimator-form dl {
    margin: 0;
}
.cart-actions {
    .button {
        padding: spacing("half") + spacing("third") spacing("double"); // height = 60px
    }
}
.cart-additionalCheckoutButtons {
    .CheckoutButton:last-child {
        margin-bottom: 0;
    }
}
@media (max-width: screenSize("medium") - 1px) {
    .cart-item {
        @include clearfix;
    }
    .cart-item-figure {
        margin-bottom: 0;
    }
    .cart-item-info {
        display: none;
        .cart-item-label {
            display: none;
        }
        .cart-item-value {
            padding: 0;
        }
    }
    .cart-item-quantity,
    .cart-item-total,
    .cart-item-edit {
        text-align: center;
        display: block;
        float: left;
        clear: none;
    }

    .cart-item-quantity {
        width: 100px;
        clear: both;

        .form-increment {
            margin: 0;
        }
    }

    .cart-item-total {
        width: calc(100% - 150px);

    }
    .cart-item-edit {
        width: 50px;
        text-align: right;
    }

    .bf__cart {
        > ._right {
            padding: spacing("base") spacing("half");
            margin: 0 (-(spacing("half")));
        }
    }
}

@include breakpoint("small") {
    .cart-totals {
        width: 100%;
        float: none;
    }
    .cart-actions {
        width: 100%;
        max-width: 550px;
        margin: 0 auto spacing("base");
    }
    .cart-additionalCheckoutButtons {
        text-align: center;
        .FloatRight div {
            float: none;
        }
    }
}

@include breakpoint("medium") {
    .papaSupermarket-pageType--cart {
        .page-heading {
            border-bottom: container("border");
            padding-bottom: spacing("single");
        }
    }
    .bf__cart {
        display: flex;
        margin-bottom: spacing("double");
        > ._left {
            flex: 2;
            margin-right: spacing("single");
        }
        > ._right {
            flex: 1;
            padding: spacing("single");
            border-radius: $global-radius;
        }
    }
    .cart-header-price,
    .cart-header-total,
    .cart-item-price,
    .cart-item-total {
        text-align: center;
    }
    .cart-header {
        display: none;
    }
    .cart-list {
        border-top: 0;
    }
    .cart-item-price {
        display: none;
    }
    .cart-item-figure {
        width: get-width(stencilString("productthumb_size"));
    }
}

.bf__cart-couponMsg {
    font-weight: fontWeight("bold");
    @media (max-width: screenSize("medium") - 1px) {
        font-size: fontSize("large");
    }
    @include breakpoint("medium") {
        font-size: fontSize("larger");

    }
}
