[role=button] {
    cursor: pointer;
}

.button {
    transition: none;
}

.button--light {
    @include buttonVariant("primary");
    color: stencilColor("button--primary-color");
    background-color: stencilColor("button--light-backgroundColor");
    border-color: stencilColor("button--light-backgroundColor");

    &:hover,
    &:focus {
        color: stencilColor("button--primary-colorHover");
        background-color: stencilColor("button--light-backgroundColorHover");
        border-color: stencilColor("button--light-backgroundColorHover");
    }

    &:active {
        color: stencilColor("button--primary-colorActive");
        background-color: stencilColor("button--light-backgroundColorActive");
        border-color: stencilColor("button--light-backgroundColorActive");
    }
}

.button--dark {
    @include buttonVariant("primary");
    color: stencilColor("button--primary-color");
    background-color: stencilColor("button--dark-backgroundColor");
    border-color: stencilColor("button--dark-backgroundColor");

    &:hover,
    &:focus {
        color: stencilColor("button--primary-colorHover");
        background-color: stencilColor("button--dark-backgroundColorHover");
        border-color: stencilColor("button--dark-backgroundColorHover");
    }

    &:active {
        color: stencilColor("button--primary-colorActive");
        background-color: stencilColor("button--dark-backgroundColorActive");
        border-color: stencilColor("button--dark-backgroundColorActive");
    }
}

.button--black {
    @include buttonVariant("primary");
    color: stencilColor("button--primary-color");
    background-color: stencilColor("button--black-backgroundColor");
    border-color: stencilColor("button--black-backgroundColor");

    &:hover,
    &:focus {
        color: stencilColor("button--primary-colorHover");
        background-color: stencilColor("button--black-backgroundColorHover");
        border-color: stencilColor("button--black-backgroundColorHover");
    }

    &:active {
        color: stencilColor("button--primary-colorActive");
        background-color: stencilColor("button--black-backgroundColorActive");
        border-color: stencilColor("button--black-backgroundColorActive");
    }
}

.button--link {
    color: $color-textLink;
    text-decoration: underline;
    background: none;
    border: 0;

    &:hover,
    &:focus {
        color: $color-textLink-hover;
    }

    &:active {
        color: $color-textLink-active;
    }
}

.button--block {
    display: block;
}


.form-increment {
    border: 0;

    .button[data-action=dec],
    .button[data-action=inc] {
        border: 0;
        height: 45px;
        background-color: $color-greyLightest;

        &:hover,
        &:active {
            background-color: $color-greyLighter;
        }
    }
    .button[data-action=dec] {
        border-top-left-radius: $global-radius;
        border-bottom-left-radius: $global-radius;
    }
    .button[data-action=inc] {
        border-top-right-radius: $global-radius;
        border-bottom-right-radius: $global-radius;
    }
    .form-input--incrementTotal {
        font-size: fontSize("base");
        width: 30px;
        padding-left: 0;
        padding-right: 0;
    }
}

.sticky-header-loaded {
    &.show {
        position: fixed;
        top: 0;
    }
}

.slick-dots {
    bottom: -(spacing("single") + spacing("half"));
}

.alertBox-message {
    p:last-child {
        margin-bottom: 0;
    }
}
