// =============================================================================
// FACET LABEL (Settings)
// =============================================================================

$facetLabel-backgroundColor:                container("fill"); // papathemes-beautyfeatures edited
$facetLabel-border:                         container("border"); // papathemes-beautyfeatures added
$facetLabel-borderRadius:                   4px;
$facetLabel-removeIcon-width:               14px;
$facetLabel-removeIcon-height:              14px;
$facetLabel-removeIcon-color:               $small-font-color;
